<div class="container" ng-controller="authCtrl as loginCtrl" ng-init="loginCtrl.init()">
  
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <section class="login-form">
        <form method="post"   role="login">
          <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
          <input type="email" ng-model="email" name="email" placeholder="Email" required class="form-control input-lg" />
          
          <input type="password" ng-model="password"  class="form-control input-lg" id="password" placeholder="Password" required="" />
          
          
          <div class="pwstrength_viewport_progress"></div>
          
          
          <button type="submit" ng-click="loginCtrl.saveLoginData(email, password)" class="btn btn-lg btn-primary btn-block">Sign in</button>
          <div>
            <a ui-sref="signup">Create account</a> or <a href="#">reset password</a>
          </div>
          
        </form>
        
        <div class="form-links">
          <a href="#">www.website.com</a>
        </div>
      </section>  
      </div>
      
      <div class="col-md-4"></div>
      

  </div>
  
       

  
</div>